* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#theme {
  display: none;
}

#theme:checked ~ .app {
  filter: invert(1);
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.main {
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: auto;
}

.mode {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}


/* --------AUTH-------- */
@import url("./styles/auth.css");

/* --------LOADING-------- */
@import url("./styles/loading.css");

/* --------Avatar-------- */
@import url("./styles/avatar.css");

/* --------HEADER-------- */
@import url("./styles/header.css");

/* --------PROFILE-------- */
@import url("./styles/profile.css");

/* --------HOME-------- */
@import url("./styles/home.css");

/* --------STATUS_MODAL-------- */
@import url("./styles/status_modal.css");

/* --------COMMENT-------- */
@import url("./styles/comment.css");

/* --------POST THUMB-------- */
@import url("./styles/post_thumb.css");

/* --------MESSENGER-------- */
@import url("./styles/message.css");

/* --------ICONS-------- */
@import url("./styles/icon.css");

/* --------CALL MODALS-------- */
@import url("./styles/call_modal.css");


/* ---------------Responsive--------------- */
@media (max-width: 766px) {
  .header .navbar .nav {
    display: none;
  }
  .header .menu {
      /* position: fixed;
      bottom: 0;
      left: 0; */
      width: 100%;
      height: 45px;
      /* box-shadow: 0 0 10px #ddd;
      z-index: 2;
      background: #f8f9fa;
      border: 1px solid rgba(0, 0, 0, 0.125); */
  }

  .header .menu .navbar-nav {
      display: flex;
      justify-content: space-around;
  }

  .header .menu .dropdown-menu{
      /* top: auto;
      bottom: 100%; */
  }

  .header .nav {
      margin: auto;
  }

  .header .nav h1 {
      font-size: 1.5rem;
  }

  .header .search_form {
      width: 100%;
  }

  .header .search_form .users {
      top: 35px;
  }

  .message {
    height: calc(100vh - 170px);
  }

  .left_mess,
  .right_mess {
    display: none;
  }
}


